a{
	cursor: pointer;
}
#a-Header{
	border-bottom: 10px;
	border-bottom-color: darkgrey;
	border-bottom-style: solid;
	padding-top: 10px;
}
span.glyphicon-forward ,span.glyphicon-send,span.glyphicon-backward {
	 color: #337ab7;
	
}
span.glyphicon-forward:hover, span.glyphicon-send:hover ,span.glyphicon-backward {
	color: #23527c;
}

.page-header {
  padding-bottom: 5px;
  margin: 0px 0 15px;
 }

 .disabled {
  color: gray;
}
.disabled:hover {
  color: gray;
}

.required::-webkit-input-placeholder { /* WebKit browsers */
    color:    #a94442 !important;
}
.required:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #a94442 !important;
   opacity:  1;
}
.required::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #a94442 !important;
   opacity:  1;
}
.required:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #a94442 !important;
}

.captcha{
	border: 1px solid #000;
	margin-right: 15px
}


.action-name{
  color: #e67e39;
  text-transform: uppercase;
  font-weight: bold;
}